includes:
    - phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src

    tmpDir: build/phpstan

    checkOctaneCompatibility: false

    checkModelProperties: false

    checkMissingIterableValueType: true

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        # - '#Call to an undefined method Torann\\GeoIP\\GeoIP|Torann\\GeoIP\\Location::getAttribute\(\)#'
